body
{
    background-color: aqua;
    margin: 0;
    padding: 0;
}

h1
{
    text-align: center;
    color: orangered;
    font-size: 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header
{
    background-color: crimson;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: blanchedalmond;
}

footer
{
    padding: 2rem;
    text-align: center;
    margin: 2px;
    background-color: crimson;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: blanchedalmond;
}

h2
{
    font-size: 50px;
    font-family:'Consolas';
    background-color: rgb(27, 9, 1);
    color: rgb(168, 245, 255);
}

h3
{
    font-family: monospace;
    font-size: larger;
    color:rgb(255, 57, 57);
}

.right-aligned
{
    float: right;
}

p
{
    width: 70%;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

a
{
    margin-right: 30px;
}

table
{
    width: 50%;
}

th
{
    width: 50%;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(170, 40, 30);
    background-color: rgb(0, 179, 255);
}

td
{
    font-family:monospace;
    font-size: 30px;
}

tr
{
    text-align: center;
    background-color: rgb(0, 208, 249);
}